#contacto h1 {
    font-size: 1.8em;
  color: #ff2c2c;
  text-shadow: 0 0 14px #ff2c2c;
}

#contacto {
    color: #ccd6f6;
  }

  .contacto-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

  .contacto-contenido ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.contacto-contenido li{
    background-color: #16386b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.miau{
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}

@media (min-width:992px) {

  .contacto-contenido ul {
    width: 20%;
}

.contacto-contenido li{
  background-color: #16386b;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miau{
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
}