#experiencia h1 {
  font-size: 2.5em;
  color: #f2f5ff;
  }


  #experiencia .experiencia-encabezado{
    padding: 10px;
    border-bottom: 1px #839ffc solid;
  }
  
  #experiencia .experiencia-contenido{
    padding: 10px;
  }
  

section .experiencia-descripcion li,
section .estudios-descripcion li {
  padding-bottom: 10px;
  color: #f2f5ff;
}

section .experiencia-descripcion li::marker,
section .estudios-descripcion li::marker {
  color: #84a0fc;
}

section .experiencia-botones ul,
section .estudios-botones ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

section .experiencia-botones li,
section .estudios-botones li {
    display: block;
    padding: 5px;
    font-size: 1em;
}

section .experiencia-botones button,
section .estudios-botones button {
    width: max-content;
    text-align: start;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border: 2px solid #84a0fc;
    color: #84a0fc;
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
      0.5s ease-in-out;
}

section .experiencia-botones button span{
    margin: 0 5px 0 5px;
}

section .experiencia-botones button:hover,
section .estudios-botones button:hover {
    background-color: #84a0fc;
    color: #f2f5ff;
    filter: drop-shadow(0 0px 10px #84a0fc);
}

section .experiencia-botones button#seleccionado,
section .estudios-botones button#seleccionado {
  background-color: #84a0fc;
  padding: 5px;
  border: 2px solid #84a0fc;
  color: #f2f5ff;
  border-radius: 20px;
}

section .experiencia-descripcion,
section .estudios-descripcion {
  margin-top: 1em;
  width: 100%;
  padding-left: 20px;
}

section .experiencia-descripcion h2,
section .estudios-descripcion h2 {
  color: #f2f5ff;
  font-size: 1.8em;
  margin: 15px 0 15px 0;
  text-align: center;
}

section .experiencia-descripcion h3,
section .estudios-descripcion h2 {
  color: #f2f5ff;
  font-size: 1.5em;
  margin: 15px 0 15px 0;
  text-align: center;
}

section .experiencia-descripcion ul,
section .estudios-descripcion ul {
  margin: 0;
}

section .experiencia-descripcion li,
section .estudios-descripcion li {
  font-weight: 0;
  letter-spacing: 2;
}


@media (min-width:992px) {
  section .experiencia-descripcion h2,
  section .experiencia-descripcion  h3{
      text-align: start;
    }
    #experiencia .experiencia-botones button {width: 300px;}
  }