#inicio h1,
#inicio h2,
#inicio h3{
    color: #ff2c2c;
    text-shadow: 0 0 14px #050000;
}

#inicio h2 {
    font-size: 4em;
  }
  
#inicio h3 {
    font-size: 3em;
}

#inicio p{
    color:#ccd6f6 ;
    font-weight: 400;
    text-shadow: 0 0 20px #000000;
}

