#inicio h1,
#inicio h2,
#inicio h3{
    color: #84a0fc;
    text-shadow:0 0 10px #84a0fc;
}

#inicio h2 {
    font-size: 4em;
  }
  
#inicio h3 {
    font-size: 3em;
}

#inicio p{
    color:#ccd6f6 ;
    font-weight: 300;
}

