#inicio h1,
#inicio h2,
#inicio h3{
    color: #84a0fc;
}

#inicio h2 {
    font-size: 4em;
  }
  
#inicio h3 {
    font-size: 3em;
}

#inicio p{
    color:#f2f5ff ;
    font-weight: 300;
}

#inicio b{
    color:#84a0fc ;
}

