.proyectos-img {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #84a0fc;
  background-color: #1d1d1d;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.proyectos-img img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.proyectos-img figcaption{
  background-color: #84a0fc;
  font-weight: 600;
  color: #0a192f;
}

.iconTec {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
  filter: drop-shadow(0 0 1px black);
}

.iconTec.unity-icon {
  filter: drop-shadow(0 0 1px rgb(255, 255, 255));
}

#proyectos h1 {
  font-size: 2.5em;
  color: #84a0fc;
}


#proyectos p {
  color: #ccd6f6;
}

#proyectos .proyectos-botones ul {
  list-style: none;
  display: flex;
  padding: 12px 0 12px 0;
  margin: 0;
  overflow-y: auto;
}

#proyectos .proyectos-botones li {
  display: block;
  padding: 5px;
  font-size: 1em;
}

#proyectos .proyectos-botones button {
  width: max-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  border: 2px solid #84a0fc;
  color: #84a0fc;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    0.5s ease-in-out;
}

#proyectos .proyectos-botones button:hover {
  background-color: #84a0fc;
  color: #fff;
  filter: drop-shadow(0 0px 10px #84a0fc);
}

#proyectos .proyectos-botones button#seleccionado{
  background-color: #84a0fc;
  padding: 5px;
  border: 2px solid #84a0fc;
  color: #fff;
  border-radius: 20px;
}

#proyectos .proyectos-tool {
  display: flex;
  flex-direction: column;
}

#proyectos .ficha-contenedor {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #84a0fc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#proyectos .ficha-contenedor ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #84a0fc;
}

#proyectos .ficha-contenedor li {
  color: #ccd6f6;
  border-top: 1px solid #84a0fc;
}

#proyectos .proyectos-contenido a {
  font-size: 1em;
  text-decoration: none;
  color: #84a0fc;
  font-weight: 800;
  transition: text-shadow 0.5s ease-in-out;
}

#proyectos .proyectos-contenido a:hover {
  font-size: 1em;
  text-decoration: none;
  color: #84a0fc;
  font-weight: 800;
  transition: text-shadow 0.5s ease-in-out;
  text-shadow: 0 0 15px #84a0fc;
}

@media (min-width:992px) {
  #proyectos .proyectos-botones ul{
    padding: 0;
  }

  #proyectos h1{
    text-align: start;
  }
  #proyectos .proyectos-botones {margin-top: 35px;}
  #proyectos .proyectos-botones button {width: 300px;}

  .proyectos-img img{
    height: 300px;
  }
}