.proyectos-img {
  margin: 0 auto;
}

.proyectos-img img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.proyectos-img figcaption{
  background-color: #84a0fc;
  font-weight: 600;
  color: #0a192f;
}

.iconTec {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
  filter: drop-shadow(0 0 1px black);
}

.iconTec.unity-icon {
  filter: drop-shadow(0 0 1px rgb(255, 255, 255));
}

#proyectos h1 {
  font-size: 2.5em;
  color: #f2f5ff;
}

#proyectos h2{
  font-size: 2em;
  color: #f2f5ff;
  padding: 10px 0 10px 0;
}

#proyectos p {
  color: #f2f5ff;
}

#proyectos .proyectos-encabezado{
  padding: 10px 0 10px 0;
  border-bottom: 1px #839ffc solid;
}

#proyectos .proyectos-botones ul {
  list-style: none;
  display: flex;
  padding: 12px 0 12px 0;
  margin: 0;
  overflow-y: auto;
}

#proyectos .proyectos-botones li {
  display: block;
  padding: 5px;
  font-size: 1em;
}

#proyectos .proyectos-botones button {
  width: max-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  border: 2px solid #84a0fc;
  color: #84a0fc;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out , color 0.5s ease-in-out;
}

#proyectos .proyectos-botones button:hover {
  background-color: #84a0fc;
  color: #f2f5ff;
  filter: drop-shadow(0 0px 10px #84a0fc);
}

#proyectos .proyectos-botones button#seleccionado{
  background-color: #84a0fc;
  padding: 5px;
  border: 2px solid #84a0fc;
  color: #f2f5ff;
  border-radius: 20px;
}

#proyectos .proyectos-tool {
  display: flex;
  flex-direction: column;
}

#proyectos .ficha-contenedor {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #84a0fc;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#proyectos .ficha-contenedor ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #84a0fc;
}

#proyectos .ficha-contenedor li {
  color: #f2f5ff;
  border-top: 1px solid #84a0fc;
}

#proyectos .proyectos-contenido a {
  font-size: 1em;
  text-decoration: none;
  color: #84a0fc;
  font-weight: 800;
  transition: text-shadow 0.5s ease-in-out;
}



#proyectos .proyectos-contenido a:hover {
  text-shadow: 0 0 15px #84a0fc;
}

#proyectos .proyectos-enlaces{
  display: flex;
  justify-content: space-between;
  width: 15%;
}

#proyectos .proyectos-enlaces>a {
  width: 48px;
  height: 48px;
  display: block;
  border: 1px solid #84a0fc;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

#proyectos .proyectos-enlaces>a:hover{
  background-color: #84a0fc;
  filter: drop-shadow(0 0px 10px #84a0fc);
}

#proyectos .proyectos-enlaces img {
  filter: none;
  width: 100%;
  transition: filter 0.3s ease-in-out;
}

#proyectos .proyectos-enlaces>a:hover img {
  filter: brightness(10);
}


@media (min-width:992px) {
  #proyectos .proyectos-botones ul{
    padding: 0;
   overflow-y: visible; /*Para "desactivar" el overflow-y y no se note ese contenedor invisible cuando hovereamos los botones de la lista de proyectos.*/
  }

  #proyectos .proyectos-botones {margin-top: 62px;}
  #proyectos .proyectos-botones button {width: 300px;}
}