#habilidades h1 {
  font-size: 2.5em;
  color: #f2f5ff;
}


#habilidades h2{
  font-size: 2em;
  color: #f2f5ff;
  padding: 10px 0 10px 0;
}

#habilidades .skills-encabezado{
  padding: 10px 0 10px 0;
  border-bottom: 1px #839ffc solid;
}

#habilidades .softSkills-contenedor {
  width: 100%;
  overflow-y: auto;
}

#habilidades .softSkills-contenedor,
#habilidades .hardSkills-contenedor {
  margin-top: 15px;
}

#habilidades .skills-contenido ul {
  border-radius: 2px;
  height: 180px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

#habilidades .skills-contenido li {
  text-overflow: ellipsis;
  color: #f2f5ff;
  padding-bottom: 10px;
}

#habilidades .skills-contenido li::marker {
  color: #84a0fc;
}

#habilidades .skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

#habilidades .skills-items {
  background-color: #16386b;
  border-radius: 2px;
  padding: 8px;
}

#habilidades img {
  width: 100%;
}

#habilidades img[alt='Logo Unity']{
  filter: brightness(0.25);
}

#habilidades img[alt='Logo Node.js']{
  filter: brightness(0.85);
}

@media (min-width: 768px) { 

  #habilidades .skills-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
  }

  #habilidades .skills-img-container{
    width: 100%;
    margin: 0 auto;
  }
  #habilidades .skills-contenido ul {
    height: 110px;
  }
 }
