#habilidades h1 {
  font-size: 2.5rem;
  color: rgb(242, 245, 255);}

#habilidades h2 {
  font-size: 2rem;
  color: rgb(242, 245, 255);}

#habilidades li{
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(242, 245, 255);}

#habilidades span{
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(242, 245, 255);}

#habilidades .skills-encabezado {
  padding: 10px 0 10px 0;
  border-bottom: 1px #ffffff solid;
}

#habilidades .skills-titulo {
  padding: 20px 0 20px 0;
}

/* #habilidades .techHabilidades-contenedor .skills-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
} */

#habilidades  .skills-items {
  display: flex;
  justify-content: flex-start;
    background: rgb(14 39 77);
  border: 1px rgb(24, 67, 131) solid;
  border-radius: 7px;
  padding: 12px;
  margin-bottom: 15px;
}

#habilidades .techHabilidades-contenedor .skills-items ul{
  list-style: none;
  margin: 0;
}

#habilidades .techHabilidades-contenedor .skills-items li.descItem{
  font-size: 1.3rem;
  color: rgb(130, 130, 130) ;
}

#habilidades .techHabilidades-contenedor .skills-items ul{
  list-style: none;
  margin: 0;
}

#habilidades img {
  width: 10%;
}
