#sobremi h1 {
    font-size: 2.5em;
  color: #84a0fc;
}

#sobremi p {
  color: #ccd6f6;
}

#sobremi li {
  font-weight: 400;
}

#sobremi .sobreMi-foto {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #84a0fc;
  background-color: #1d1d1d;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#sobremi img {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

#sobremi .sobreMi-contenido {
  display: flex;
  flex-direction: column-reverse;
}

#sobremi .sobreMi-aside {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

#sobremi .ficha-contenedor {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #84a0fc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sobremi .ficha-contenedor ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sobremi .ficha-contenedor li {
  padding: 2px 0 5px 2px;
  color: #ccd6f6;
  border-top: 1px solid #84a0fc;
}

#sobremi .button-contenedor{
  margin-top: 25px;
}

#sobremi .button-contenedor button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #84a0fc;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, 0.5s ease-in-out;
}

#sobremi .button-contenedor button:hover {
  background-color: #84a0fc;
  filter: drop-shadow(0 0 10px #84a0fc);
}

#sobremi .button-contenedor a,
#sobremi .button-contenedor a:visited {
  display: block;
  width: 100%;
  padding: 5px;
  color: #84a0fc;
  text-decoration: none;
  transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

#sobremi .sobreMi-aside a:hover {
  color: #fff;
  text-shadow: 0 0 5px #84a0fc;
}


@media (min-width:992px) {
  #sobremi .sobreMi-main {
    margin-right: 10px;
  }
  #sobremi .sobreMi-aside .button-contenedor{
    width: 300px;
  }
}