#sobremi h1 {
    font-size: 2.5em;
    color: #f2f5ff;
}

#sobremi p {
  font-size: 1.5rem;
  color: #f2f5ff;
}

#sobremi b{
      color:rgb(0, 145, 255) ;

}

#sobremi li {
  font-weight: 400;
}

#sobremi .sobreMi-encabezado{
  padding: 10px 0 10px 0;
  border-bottom: 1px rgb(242, 245, 255) solid;
}

#sobremi .sobreMi-aside {
  display: flex;
    align-items: flex-start;
}


#sobremi img {
    border: 2px solid rgb(131, 126, 126);
      border-radius: 7px;
  width: 50%;
  margin: 0 auto;
}


#sobremi .sobreMi-aside,
#sobremi .sobreMi-main{
  padding-top: 20px;
}

@media (min-width:768px) {
#sobremi img {
  width: 70%;

}
}

@media (min-width:992px) {
#sobremi img {
  width: 70%;

}
}