@font-face {
    font-family: "pxlTitle";
    src: url("../Assets/fonts/font-title-arcade.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pxlText";
    src: url("../Assets/fonts/font-text-content.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pxlTitle-card";
    src: url("../Assets/fonts/font-title-cards.ttf");
    font-style: normal;
    font-weight: normal;
}