<section>
    <article>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 bg home mt-3">
            <h1 class= "title">Este Portfolio fue desarrollado gracias a:</h1>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h1 class="title">Bienvenido a mi Portfolio</h1></div>
        </div>
        <div class="row index-body">
          <div class="col-md-6">
            <p>Soy Juan Paz, estudiante de la tercera edición del curso Argentina Programa. Comencé como autodidacta en el mundo de la programación, con lenguajes como Raptor y Java, y luego me enfoque en el desarrollo de videojuegos con programas como Gamemaker Studio y Unity Engine. Actualmente estoy usando Unity Engine porque me resultaba más familiar el lenguaje de C# por su similitud con Java, y porque es gratuito.</p>
            <p>En el año 2021 me inscribí a la tercera edición del curso de Argentina Programa, y mi cursada comenzó en enero del 2022 con la primera etapa del programa llamado #SeProgramar. En esta primera etapa recibí conocimientos relacionados con la introducción a la programación con el lenguaje Gobstones, programación imperativa con JavaScript y programación orientada a objetos con Ruby.</p>
          </div>
          <div class="col-md-6">
            <p>Luego de recibir mi certificado de la aprobación de la primera parte del curso, recibí mi vacante a la actual etapa del curso, #YoProgramo. En esta nueva etapa del curso -que es más extensa que la primera- se nos prepara para capacitarnos y convertirnos en un desarrollador Full Stack Jr.</p>
            <p>A pesar de que mi meta personal es ser un GameDev, la programación es una profesión que me gusta y admiro, y me gustaría poder adentrarme de lleno en este mundo. Si deseas saber más <a href="/aboutme">sobre mi</a>, te invito a que navegues por mi portfolio.</p>
          </div>
        </div>
      </div>
    </article>
  </section>