/* Estilos para tabletas (768px - 1199px) */
@media (max-width: 1199px) {
    header .container {
        width: 100%;
        padding: 16px 0 16px 0;
    }

    header .container nav {
        width: 600px;
        justify-content: space-around;
    }

    header .container nav a {
        font-size: 28px;
    }
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
   
}
