* {
    box-sizing: border-box;
}

body {
    background-color: #0a192f;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}

header {
    box-shadow: 1px 1px 30px -10px #84a0fc;
    height: 120px;
}

.header-container {
    display: flex;
    width: 1200px;
    height: 100%;
    padding: 16px 0 16px 0;
    margin: 0 auto;
    justify-content: space-between;
}

.header-container a#logo img {
    display: block;
    width: 100%;
    height: 100%;
    filter: none;
    transition: filter 0.5s ease-in-out;
    /* Agrega una transición suave */
}

.header-container a#logo img:hover {
    filter: drop-shadow(0 0px 4px #ff2c2c);
}

.header-container nav {
    display: flex;
    width: 660px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-container nav a {
    color: #ccd6f6;
    font-size: 30px;
    text-decoration: none;
    text-shadow: none;
    transition: text-shadow 0.5s ease-in-out;

}

.header-container nav a:hover {
    text-shadow: 0 0px 10px #bfccf8;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 60px;
}

h1,
h2,
h3 {
    color: #cf1f1f;
    -webkit-text-stroke: 2px #ff2c2c;
}


p {
    font-size: 24px;
    color: #ccd6f6;
}

/* Change color on hover */


.body-container {
    width: 1200px;
    margin: 0 auto;
}

/* Style the content */
.content {
    padding: 10px;
    min-height: 100vh;

    /* Should be removed. Only for demonstration */
}


/* Style the footer */
.footer {
    padding: 10px;
}