/* * {
  box-sizing: border-box;
} */

html {  
  font-size: 10px !important;
  scroll-padding-top: 91px;
}

body {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 200;
  margin: 0;
  background-color: rgb(5, 7, 27);
}

::-webkit-scrollbar {
  margin: 20px 0 20px 0; 
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 99, 175); 
}

@media (min-width: 768px) { 
  html{
    font-size: 11px !important;
  }
}

@media (min-width: 992px) { 
  html{
    font-size: 12px !important;
  }
}

@media (min-width: 1200px) { 
  html{
    font-size: 14px !important;
  }
}