<section>
    <article>    
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-header bg-card-header">
                    <img class="img-redonda"  src="../../assets/images/JP.jpg" alt="yo uwu">
                </div>
                <div class="card-body" style="text-align: center;">
                    <h3>Juan Paz, 27 años.</h3>
                    <p><i class="fa-solid fa-cake-candles" title="Fecha y lugar de Nacimiento."></i> Noviembre 25, 1994. Ciudad de Buenos Aires. Argentina.</p>
                    <p><i class="fa-solid fa-location-dot" title="Domicilio actual"></i> Vicente López, Provincia de Buenos Aires. Argentina.</p>
                    <p><i class="fa-solid fa-graduation-cap" title="Formación académica"></i> Estudiante de Argentina Programa - #YoProgramo</p>
                </div>
                <div class="card-footer">Desarrollador Front End Jr.</div>
            </div>
            <br>
            <div class="card">
              <div class="card-header">
                <h3>Descargas</h3>
              </div>
              <div class="card-body">
                <ul>
                    <li>Curriculum Vitae: Juan Paz
                        <ul>
                            <li>
                                <a href="../../../assets/downloads/CV.pdf" target="_blank" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i> Ver en navegador</a>
                                <a href="../../../assets/downloads/CV.pdf" download="cv-JuanPaz-2022" class="btn btn-success btn-sm"><i class="fa-solid fa-download"></i> Descargar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Certificado Argentina Programa - #SeProgramar (Primera Etapa)
                        <ul>
                            <li>
                                <a href="../../../assets/downloads/certificado.pdf" target="_blank" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i> Ver en navegador</a>
                                <a href="../../../assets/downloads/certificado.pdf"  download="Certificado-JuanPaz-#SeProgramar" class="btn btn-success btn-sm"><i class="fa-solid fa-download"></i> Descargar</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
          </div>
          </div>
          <div class="col-md-8 mt-3">
            <div class="card">
              <div class="card-header">
                <h3>Acerca de mi</h3>
              </div>
              <div class="card-body">
                <p>Soy Juan Paz, residente de la localidad de Vicente López, provincia de Buenos Aires. Me estoy adentrando al mundo de la programación como desarrollador front-end, y con un muy buen manejo en distintos softwares como Adobe Illustrator, Adobe Photoshop, Git y Github, Microsoft Office y Unity Engine.</p>
                <p>Soy una persona proactiva, de mis errores aprendo y nunca me quedo con lo que se, siempre busco aprender más. Como aprendí programación de manera autodidacta, puedo trabajar muy bien solo. Pero estoy preparado para trabajar en equipo y porder aportar mis ideas y habilidades para llegar a una meta común.</p>
              </div>
            </div>
            <br>
            <div class="card no-padding">
              <div class="card-header">
                <h3>Formación académica</h3>
              </div>
              <div class="card-body no-padding">
                <ul class="list-group">
                  <li class="list-group-item">Argentina Programa - M. de Desarrollo Productivo.
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonOne()">Ver mas</button>
                      <ul>
                        <li>Enero 2022 - Diciembre 2022</li>
                        <li>Titulo: Desarrollador Full Stack Jr</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Centro Universitario Vicente López.
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonTwo()">Ver mas</button>
                      <ul>
                        <li>Enero 2018 - Diciembre 2018</li>
                        <li>Titulo: Técnico en computación</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Colegio Julio Argentino Roca.
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonThree()">Ver mas</button>
                      <ul>
                        <li>Enero 2010 - Diciembre 2014</li>
                        <li>Titulo: Bachillerato</li>
                      </ul>
                    </li>
                  </ul>
              </div>
            </div>
            <br>
            <div class="card no-padding">
              <div class="card-header">
                <h3>Experiencia laboral</h3>   
              </div>
              <div class="card-body no-padding">
                <ul class="list-group">
                  <li class="list-group-item">Banco Santander Río
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonFour()">Ver mas</button>
                    <ul>
                      <li>Enero 2017 - Actualidad</li>
                      <li>Puesto/Sector: Ejecutivo de cuentas</li>
                    </ul>
                  </li>
                  <li class="list-group-item">BBQ Town Comida China - Coreana
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonFive()">Ver mas</button>
                      <ul>
                        <li>Julio 2016 - Julio 2017</li>
                        <li>Puesto/Sector: Cocina</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Bazar Variedades "Samuga" SRL
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonSix()">Ver mas</button>
                      <ul>
                        <li>Agosto 2015 - Junio 2016</li>
                        <li>Puesto/Sector: Repositor - Atención al publico</li>
                      </ul>
                  </li>
                  <li class="list-group-item">Cinemark Hoyts - Dot Baires
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buttonSeven()">Ver mas</button>
                      <ul>
                        <li>Diciembre 2014 - Agosto 2015</li>
                        <li>Puesto/Sector: Salas</li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-md mt-3 mb-3">
            <div class="card">
              <div class="card-header">
                <h3>Skills</h3>
              </div>
              <div class="card-body">
                <ul>
                  <li>HTML - CSS - JAVASCRIPT</li>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" style="width:100%">100%</div>
                  </div>
                  <li>Bootstrap</li>
                  <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" style="width:100%">100%</div>
                  </div>
                  <li>Git & Github</li>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" style="width:80%">80%</div>
                  </div>
                  <li>GitFlow</li>
                  <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" style="width:75%">75%</div>
                  </div>
                  <li>Java</li>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" style="width:50%">50%</div>
                  </div>
                  <li>Unity - C#</li>
                  <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" style="width:50%">50%</div>
                  </div>
                  <li>Adobe Illustrator</li>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" style="width:50%">50%</div>
                  </div>
                  <li>Adobe Photoshop</li>
                  <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" style="width:30%">30%</div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- modal -->
    <div class="container-fluid">
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">             
                <h1 class="title-modal">{{titulomodal}}</h1>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" id="closeModal" (click)="buttonClose()">X</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-5">
                  <img class="image-modal" style="border:4px solid #8f0a27; border-radius: 2%;"src="{{imgmodal}}" width="100%" height="300" alt="{{imgAltModal}}">
                </div>
                <div class="col-md-7">                
                  <p>{{parrafo1}}</p>
                  <p>{{parrafo2}}</p>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-5">
                  <h3><i class="fa-solid fa-location-dot" style="color: #8f0a27;"></i> Ubicación</h3>
                  <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(gpsmodal)" class="gps-modal" width="100%" height="300" style="border:4px solid #8f0a27; border-radius: 2%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-7 mt-5">
                  <ul>
                    <li class="direccion">
                      Dirección: {{direccionmodal}}
                    </li>
                    <li class="localidad">
                      Localidad: {{localidadmodal}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>