header {
  background-color: #0a192f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  color: #ccd6f6;
  border-bottom: 1px #84a0fc solid;
  box-shadow: 1px 1px 30px -10px #84a0fc;
}
.logo-contenedor a#logo img {
  filter: none;
  transition: filter 0.5s ease-in-out;
  /* Agrega una transición suave */
}

.logo-contenedor a#logo img:hover {
  filter: drop-shadow(0 0px 10px #ff2c2c);
}

/* header nav {
  display: flex;
  justify-content: end;
  align-items: center;
} */

header nav ul {
  width: 650px;
  height: max-content;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav li {
  font-size: 1.25em;
}
header nav li a {
  color: #ccd6f6;
  text-decoration: none;
  transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}
header nav li a:hover {
  color: #84a0fc;
  text-shadow: 0 0 15px #84a0fc;
}

header button,
div.offcanvas-header button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ff2c2c;
  border-radius: 5px !important;
  width: 60px;
  height: 60px;
}

div.offcanvas-header,
div.offcanvas-body {
  background-color: #0a192f;
}

@media screen and (max-width: 767px) {
  header {
    padding: 10px;
  }

  .logo-contenedor a#logo img {
    width: 75px;
    height: 45px;
    filter: none;
    transition: filter 0.5s ease-in-out;
    /* Agrega una transición suave */
  }

  .logo-contenedor a#logo img:hover {
    filter: drop-shadow(0 0px 10px #ff2c2c);
  }

  header button,
  div.offcanvas-header button {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 28px;
    height: 28px;
  }

  div.offcanvas-header,
  div.offcanvas-body{
    display: flex;
    justify-content: end;
    padding: 10px;
  }
  div.offcanvas-body nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  div.offcanvas-body ul {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  div.offcanvas-body li {
    font-size: 2.25em;
  }

  div.offcanvas-body li a {
    color: #ccd6f6;
    text-decoration: none;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  }
  div.offcanvas-body li a:hover {
    color: #84a0fc;
    text-shadow: 0 0 15px #84a0fc;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

  .logo-contenedor a#logo img {
    width: 75px;
    height: 45px;
    filter: none;
    transition: filter 0.5s ease-in-out;
    /* Agrega una transición suave */
  }

  .logo-contenedor a#logo img:hover {
    filter: drop-shadow(0 0px 10px #ff2c2c);
  }

  header button,
  div.offcanvas-header button {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 28px;
    height: 28px;
  }

  div.offcanvas-header,
  div.offcanvas-body{
    display: flex;
    justify-content: end;
    padding: 10px;
  }
  div.offcanvas-body nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  div.offcanvas-body ul {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  div.offcanvas-body li {
    font-size: 2.25em;
  }

  div.offcanvas-body li a {
    color: #ccd6f6;
    text-decoration: none;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  }
  div.offcanvas-body li a:hover {
    color: #84a0fc;
    text-shadow: 0 0 15px #84a0fc;
  }
}
