main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  figure{
    margin: 0;
  }

  main h1,
  main h2,
  main h3,
  main h4 {
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
  }
  
  main p {
    margin: 12px 0 0 0;
    font-size: 1.4em;
    line-height: 1.4;
  }
  
  main li{
    font-size: 1.2em;
  }

  main a{
    font-size: 1.2em;
  }
