main {
  margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main h1,
  main h2,
  main h3,
  main h4 {
    color: #ff2c2c;
    margin: 0;
    font-weight: 700;
    line-height: 1.5;
  }
  
  main p {
    color: #ccd6f6;
    margin: 0;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  main li{
    font-size: 1em;
    font-weight: 700;
  }

  main p {
    margin-top: 1em !important; 
  }
    
  h1 {
    font-size: 1.25em !important;
  }
  
  h2 {
    font-size: 3.25em !important;
  }
  
  h3 {
    font-size: 2em !important;
  }

  h4{
    font-size: 1.25em !important
  }


  @media screen and (max-width: 767px){
    main {
      margin-top: 75px;
    }
    main p {
      font-size: 1.75em !important;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 1px;
    }

    h1 {
      font-size: 2em !important;
    }
    
    h2 {
      font-size: 5.75em !important;
    }
    
    h3 {
      font-size: 3.75em !important;
    }
    main li{
      font-size: 1.60em;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 480px) {
    main {
      margin-top: 66px;
    }
    main p {
      font-size: 2em !important;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 1px;
    }

    h1 {
      font-size: 2.25em !important;
    }
    
    h2 {
      font-size: 6em !important;
    }
    
    h3 {
      font-size: 3.5em !important;
    }
    main li{
      font-size: 1.80em;
      font-weight: 700;
    }
  }