/* You can add global styles to this file, and also import other style files */
@import "./css/fonts.css";
header{
    text-align: center;
    background-color: #050638;
}
header .logoIndex{
    font-family: "titleFont";
}
header .subtitulo{
    font-family: "akiraFont";
}
header a:link{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: #8f0a27;
    text-decoration: none;
}
header .redes{
    font-family: "akiraFont";
    color: white;
}
.redes{
    padding: 28px 0 0 0;
}
nav{
    font-family: "LemonMilk-Medium";
    text-align: center;
    background-color: #8f0a27;
}
nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #050638;
    text-decoration: none;
}
section{
    background-color: #050638;
    color: white;
}
.modal-content{
    font-family: "KenyanKoffee-Regular";
    font-size: 28px;
    background-color: #050638;
    border: 2px solid  #8f0a27;
}
footer{
    font-family: "LemonMilk-Medium";
    background-color: #02020e;
    color: white;
}
